@keyframes showElementOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hideElementOpacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes showElementBottomToTop_Bounce {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes showElementTopToBottom_Bounce {
  0% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes hideElementBottomToTop_Bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}

@keyframes hideElementTopToBottom_Bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-70px);
  }
}

@keyframes slideBlockLeftToRight {
  0% {
    left: -100%;
  }

  100% {
    left: 200%;
  }
}

@keyframes showElementOpacitySlider {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes showBlockScale {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes showBlockTranslateLeftToRight {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes showBlockTranslateRightToLeft {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}
