@keyframes showElementOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showElementBottomToTop_Bounce {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes showElementTopToBottom_Bounce {
  0% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0);
  }
}

