@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap");
@import url("./_keyframes.scss");

html {
  --main-font: "Zen Kaku Gothic New", sans-serif;
  --bg-color: #0d0d0d;
  --text-purple: #600d9f;
  --text-white: #f1f5f9;
  --color-js: #ffd500;
  --color-js-dark: #836d00;
  --color-react: #61dbfb;
  --color-react-dark: #287588;
  --color-nodeJs: #83cd29;
  --color-nodeJs-dark: #56861b;
  --color-html: #f16529;
  --color-html-dark: #883715;
  --color-css: #29a8e0;
  --color-css-dark: #0070ba;
  --color-scss: #cd6799;
  --color-scss-dark: #8a4566;
  --animation-show-opacity: showElementOpacity 450ms ease-in-out;
  --animation-hide-opacity: hideElementOpacity 450ms ease-in-out;
  --animation-show-bottom-top-bounce: showElementBottomToTop_Bounce 550ms ease-in-out;
  --animation-show-top-bottom-bounce: showElementTopToBottom_Bounce 550ms ease-in-out;
  --animation-hide-bottom-top-bounce: hideElementBottomToTop_Bounce 550ms ease-in-out;
  --animation-hide-top-bottom-bounce: hideElementTopToBottom_Bounce 550ms ease-in-out;
  --animation-show-opacity-slider: showElementOpacitySlider 1000ms ease-in-out;
  --animation-show-scale: showBlockScale 400ms ease-in-out;
  --nav-section-shadow: 0 0 7px 7px calc(var(--text-purple) + "dd");
}
