.textAnimation {
  border-right: 3px solid var(--text-purple);
  letter-spacing: 5px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.hideElement {
  transition: opacity 1s;
  opacity: 0;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
